form[phx-submit="authenticate"],
form[phx-submit="verify"] {
  margin-top: 1rem;
  display: flex;
  padding: 1.4rem;
  font-size: 1.2rem;
  background-color: #f3f3f3;

  input {
    flex: 1;
    font-weight: bold;
    color: #333;
  }

  button {
    color: $pink;
    font-weight: bolder;

    &:hover {
      color: $orange;
    }
  }
}
