/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/css.gg/icons/all.scss";

// Global variables.
@import "vars.scss";

// Import all modules here..
@import "ui.scss";
@import "liveview.scss";
@import "typography.scss";
@import "reset.scss";

@import "dev.scss";

// !NOTE
// Normal padding size is 1rem. Also could be 1.2rem for vertical padding.
// Ano[ny]mous [Ra]ndom Chat.

// TODO ORGANIZE
// TODO ORGANIZE
// TODO ORGANIZE
$base-padding: 12px 16px;

.support {
  padding: 8px 16px;
  background: #000;
  a {
    background: linear-gradient(-43deg, $pink, $orange);
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 3px;
  }
}

.composer {
  padding: 0 16px;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;

  input {
    display: inline;
    flex-grow: 1;
  }

  button {
    margin: 8px 0;
    padding: 12px 22px;
    border-radius: 4px;
    background: #fff;
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;

    &:hover {
      background: #000;
      color: #ffffff;
    }
  }
}

.statusbar {
  width: 100%;
  margin: 0 auto;
  padding: $base-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .user-count {
    text-align: right;
    font-size: 12px;

    .header {
      text-transform: uppercase;
      font-weight: bolder;
      position: relative;
      margin-bottom: 4px;

      &::before {
        content: "";
        width: 10px;
        position: absolute;
        left: -16px;
        top: 1px;
        height: 10px;
        background: rgb(38, 207, 61);
        border-radius: 20px;
      }
    }
  }
}

.hero {
  font-family: "Rubik", sans-serif;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding: 16px 18px;

  .title {
    font-size: 3em;
    font-weight: 900;
  }
  .subtitle {
    padding: 8px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  .content {
    padding: 16px 0;
    font-size: 1em;
  }
}

.logo {
  &.sm {
    font-size: 22px;
  }

  // font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3rem;

  /* Fallback: Set a background color. */
  background-color: $pink;

  /* Create the gradient. */
  background-image: linear-gradient(-43deg, $pink, $orange);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  sup {
    vertical-align: super;
    font-size: small;
    -webkit-text-fill-color: #000;
    font-family: "Roboto Condensed", sans-serif;
  }
}

.app {
  // ! NOTE honestly just for development, can be moved somewhere else to save some time switching off/on.
  // background: #111;
  // color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0 auto;
  // display: flex;

  .inner-content {
    flex: 1;
  }

  .sidebar {
    padding: 1rem 1rem;
    flex: 0 0 360px;
    position: relative;
    width: 400px;

    .sidebar-footer {
      position: absolute;
      bottom: 0;
      width: 250px;
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .logo-subtext {
      margin-bottom: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }

    .description {
      font-size: 0.9rem;
      font-family: "Roboto", serif;
      line-height: 1.4rem;
    }
  }

  .inner {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .chat {
      flex-grow: 1;
    }
  }
}
