/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/css.gg/icons/all.scss";

// Global variables.
@import "vars.scss";

// Import all modules here..
@import "ui.scss";
@import "liveview.scss";
@import "typography.scss";
@import "reset.scss";

@import "dev.scss";

// !NOTE
// Normal padding size is 1rem. Also could be 1.2rem for vertical padding.
// Ano[ny]mous [Ra]ndom Chat.

// TODO ORGANIZE
// TODO ORGANIZE
// TODO ORGANIZE
$base-padding: 12px 16px;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $pink transparentize(#000, 0.9);
}

.chat {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
  padding: $base-padding;

  .message {
    display: flex;

    &.server {
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 13px;
      background: linear-gradient(45deg, $pink, $orange);
      color: #fff;
      justify-content: space-between;
      align-items: center;

      .author {
        flex-shrink: 0;
        width: 100px;
        font-weight: bolder;
        margin-right: 24px;
      }

      .content {
        flex-grow: 1;
      }
    }

    // TODO custom user backgrounds/text colors.
    &.user {
      justify-content: space-around;
      padding: 5px 0;
      margin: 5px 0;
      align-items: flex-start;
      font-size: 14px;

      .author {
        flex-shrink: 0;
        width: 100px;
        font-weight: bolder;
        text-align: right;
        margin-right: 24px;
      }

      .content {
        flex-grow: 1;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $pink; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 0 solid transparentize(#000, 0.9); /* creates padding around scroll thumb */
    background-clip: content-box;
  }
}

.support {
  padding: 10px 16px;
  background: #000;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  color: #333;

  .content {
    margin-right: 12px;
    color: #999;
  }

  a {
    position: relative;
    background-image: linear-gradient(to right, $pink, $orange);
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 3px;
    margin-right: 8px;
    transition: all 160ms cubic-bezier(0.23, 1, 0.32, 1);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, $pink, $orange);
      z-index: -1;
      transition: all 100ms linear;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.composer {
  padding: 0 16px;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;

  input {
    display: inline;
    flex-grow: 1;
  }

  button {
    margin: 8px 0;
    padding: 12px 22px;
    border-radius: 4px;
    background: #fff;
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;

    &:hover {
      background: #000;
      color: #ffffff;
    }
  }
}

.phx-disconnected > .statusbar > .user-count > .header {
  &:before {
  }
}

.statusbar {
  width: 100%;
  margin: 0 auto;
  padding: $base-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fefefe;

  .user-count {
    text-align: right;
    font-size: 12px;

    .header {
      text-transform: uppercase;
      font-weight: bolder;
      position: relative;
      margin-bottom: 4px;

      &::before {
        content: "";
        width: 10px;
        position: absolute;
        left: -16px;
        top: 1px;
        height: 10px;
        background: rgb(38, 207, 61);
        border-radius: 20px;

        @at-root .phx-disconnected #{&} {
          background: rgb(207, 38, 61) !important;
        }
      }
    }
  }
}

.hero {
  font-family: "Rubik", sans-serif;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding: 16px 18px;

  .title {
    font-size: 3em;
    font-weight: 900;
  }
  .subtitle {
    padding: 8px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  .content {
    padding: 16px 0;
    font-size: 1em;
  }
}

.logo {
  &.sm {
    font-size: 22px;
  }

  // font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3rem;

  /* Fallback: Set a background color. */
  background-color: $pink;

  /* Create the gradient. */
  background-image: linear-gradient(-43deg, $pink, $orange);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  sup {
    vertical-align: super;
    font-size: small;
    -webkit-text-fill-color: #000;
    font-family: "Roboto Condensed", sans-serif;
  }
}

.app {
  // ! NOTE honestly just for development, can be moved somewhere else to save some time switching off/on.
  // background: #111;
  // color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0 auto;
  // display: flex;

  .inner-content {
    flex: 1;
  }

  .sidebar {
    padding: 1rem 1rem;
    flex: 0 0 360px;
    position: relative;
    width: 400px;

    .sidebar-footer {
      position: absolute;
      bottom: 0;
      width: 250px;
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .logo-subtext {
      margin-bottom: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }

    .description {
      font-size: 0.9rem;
      font-family: "Roboto", serif;
      line-height: 1.4rem;
    }
  }

  .inner {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .chat {
      flex-grow: 1;
    }
  }
}
